[run]
branch = True
include = arango/*
omit = env/*,coverage/*,arango/tests/*

[report]
exclude_lines=
    raise NotImplementedError
    if __name__ == .__main__.
include = arango/*
omit = env/*,coverage/*,arango/tests/*

