[run]
branch = True
include = avocado/*
omit = env/*,coverage/*,avocado/tests/*

[report]
exclude_lines=
    raise NotImplementedError
    if __name__ == .__main__.
include = avocado/*
omit = env/*,coverage/*,avocado/tests/*

